---
import NewLayout from '../layouts/newLayout.astro';
---
<NewLayout>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="about.css" />
    </head>
    <main> 
        <header>
           <i><h1 style="text-align: left;">About Me</h1></i> 
        </header>
        <h4 class="meow">
            I am Shravan Sathiyanarayanan, currently pursuing my B.Tech in Computer Science and Engineering at Amrita University, Bangalore, India.<br><br>

            I have experience with multiple programming languages, including C, C++, Java, and Python, and I am proficient in developing web applications using React.js, Astro, Python, and PHP. I am currently working on an application using Kotlin and Java while having developed numerous projects in the past, gaining valuable technical skills and hands-on experience.<br><br>
            
            My expertise extends to machine learning, particularly in training models for image processing and augmentation. I have developed an ML model capable of diagnosing cancer types based on medical images and implemented a hybrid image compression algorithm that integrates multiple techniques to optimize the storage of DICOM-formatted medical images.<br><br>
            
            Beyond development, I have experience in web security through my time with Team Bi0S, where I learned to build secure web applications by identifying and exploiting vulnerabilities, enabling me to follow best practices in web development.
        </h4>
    </main>
</NewLayout>
