---  
import Layout from '../layouts/Layout.astro';
import GameOfLife from '../components/GameOfLife.jsx';
---  

<Layout>
  <head>
    <title>Guestbook</title>
  </head>
  <main>
    <div class="guestbook">
      <!-- You can add additional guestbook content here -->
      <h2>Leave a message or check out our cellular automata game!</h2>
      
      <GameOfLife client:visible /> 
      


      
    </div>
  </main>
</Layout>