---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main> 
		<div class="emoki">
			<img src="ken.png" style="max-width: 100%; height: auto;" alt="Ken">
		</div>
        <h1>Hey there, I'm Shravan</h1>
        <p style="font-family: 'Doto', sans-serif; text-align: justify;">
            			I am a student and a CyberSec Enthusiast.<br><br>
            I love making stuff. I have trained ML models, built web applications, 
            and developed apps for Windows and Android.  
            <br><br>Currently, I live in Bangalore while pursuing my undergrad at Amrita Vishwavidyapeetham Bangalore.
        </p>
        <a href="/about" class="read-more">More here →</a>
		
		<div class="social-links">
			<a href="#github" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>
			<a href="#discord" aria-label="Discord"><i class="fa-brands fa-discord"></i></a>
			<a href="#email" aria-label="Email"><i class="fa-solid fa-envelope"></i></a>
		</div>
	</main>
</Layout>
