---

import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main> 
		<div class="emoki"><image src="ken.png" style="max-width: 100%; height: auto;"> </image></div>
        <h1>Hey there, I'm Sharvan </h1><h3>
        <p style="font-family: 'Doto', sans-serif">CS Undergrad and a CyberSec Enthusiast.</p>
        <p style="font-family: 'Doto', sans-serif">I like making random stuff with python and it's liraries, love playing AAA and FPS games,a lensman and a football fan.
        Currently in Bengaluru</p>
        <a href="/about" class="read-more">More here →</a></h3>
		<div class="social-links">
			<a href="#github" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>
			<a href="#discord" aria-label="Discord"><i class="fa-brands fa-discord"></i></a>
			<a href="#email" aria-label="Email"><i class="fa-solid fa-envelope"></i></a>
		</div>
		
		
</Layout>
