---

import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main> 
        <div>
            <p class="meow"><h1>hey, I am Shravan Sathiyanarayanan. A CSE undergrad doing my BTech in CSE at Amrita vishwavidyapetham </h1></p><p class="meow"><h1>hey, I am Shravan Sathiyanarayanan. A CSE undergrad doing my BTech in CSE at Amrita vishwavidyapetham </h1></p>
        
        
        
        
        </div> 
            
		 
		
		
</Layout>